<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Flight Booker, <%= @user.email %></h1>
    <p>
      You have successfully booked a flight!
      Flight information:
      Departure Airport <%= @flight.departing_airport.airport_name %>
      Arrival Airport <%= @flight.arrival_airport.airport_name %>
      Passengers Name <%= @booking.passengers.name %>
      Booking number: <% @booking.id %>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
