<%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: @flight.id %>
    <h1>New Booking</h1>
    <p>Flight Info: <%= "Depature Airport: #{@flight.departing_airport.airport_name} -  Arrival Airport: #{@flight.arrival_airport.airport_name} - Departure Date: #{@flight.departure_date} - Arrival Date: #{@flight.arrival_date}" %></p>
    <p>Passenger Count: <%= params[:passengers]%></p>
    <h2>Booking Form</h2>
    <%= form.fields_for :passengers do |subform| %>
        <%= subform.label :name, "Enter your Name:" %><br/>
        <%= subform.text_field :name %><br/>
        <% if user_signed_in? %>
            <%= subform.hidden_field :user_id, value: current_user.id %>
        <% end %>
    <% end %>
    <% if user_signed_in? %>
        <%= form.submit "Book Flight" %>
    <% else %>
        <p>Sign up or register to book!</p>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
<% end %>